<%= render 'shared/errors', obj:@entry %>

<table class="attr">
  <tr>
    <th width="80"><%= form.label :title %></th>
    <td><%= form.text_field :title, size: 50 %></td>
  </tr>
  <tr>
    <th width="80"><%= form.label :body %></th>
    <td><%= form.text_area :title, rows: 10, cols: 45 %></td>
  </tr>
  <tr>
    <th width="80"><%= form.label :posted_at, for: "entry_posted_at_1i" %></th>
    <td><%= form.datetime_select :posted_at %></td>
  </tr>
  <tr>
    <th width="80"><%= form.label :status %></th>
    <td><%= form.select :status,  Entry.status_options %></td>
  </tr>
</table>